:root {
	--btn: #2568fb;
	--bg: #fecd45;
}
#root {
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Barlow', sans-serif;
  background-image: url('./assets/Screenshot_120.png');
}
.not-found {
	background-image: url('./assets/Screenshot_120.png'),
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center;
}


/* loader  */
.loader {
	width: 80px;
	height: 100px;
  }
  
  .loader>.block {
	position: relative;
	box-sizing: border-box;
	float: left;
	margin: 0 10px 10px 0;
	width: 12px;
	height: 12px;
	border-radius: 3px;
	background: #FFF;
  }
  
  .loader>.block:nth-child(4n+1) {
	animation: wave_61 2s ease .0s infinite;
  }
  
  .loader>.block:nth-child(4n+2) {
	animation: wave_61 2s ease .2s infinite;
  }
  
  .loader>.block:nth-child(4n+3) {
	animation: wave_61 2s ease .4s infinite;
  }
  
  .loader>.block:nth-child(4n+4) {
	animation: wave_61 2s ease .6s infinite;
	margin-right: 0;
  }
  
  @keyframes wave_61 {
	0% {
	  top: 0;
	  opacity: 1;
	}
  
	50% {
	  top: 30px;
	  opacity: .2;
	}
  
	100% {
	  top: 0;
	  opacity: 1;
	}
  }